{# src/IServ/NachschreibarbeitenBundle/Resources/views/idesk.html.twig #}
{% extends "IServCoreBundle:Dashboard:sidebar.html.twig" %}

{% set title = ico('molecule', 'fugue') ~ _('Nachschreibarbeiten') %}

{% block dashboard_content %}
        <p>{{ _('Für Sie wurden folgende Nachschreibarbeiten eingetragen:') }}</p>
        <ul>
            {% for entry in entries %}
                <li>{{ entry.getSubject() }} {{ _('am') }} {{ entry.getDate() }} {{ _('betreut von') }} {{ entry.getTeacher() }}</li>
            {% endfor %}
        </ul>
{% endblock %}
