{# src/IServ/NachschreibarbeitenBundle/Resources/views/Nachschreibarbeiten/dateEdit.html.twig #}
{% extends "IServNachschreibarbeitenBundle::base.html.twig" %}

{% block page_content %}

    <h2>{{ _('Nachschreibtermin bearbeiten') }}</h2>

    <div style="width: 50%;">
        {{ form(dateForm) }}
        <a class="btn btn-default" title="{{ _('Zurück') }}" href="{{ path('nachschreibarbeiten_dates_manage') }}">{{ icon('chevron-left') }}&nbsp;{{ _('Zurück') }}</a>
    </div>

{% endblock %}
