{# src/IServ/NachschreibarbeitenBundle/Resources/views/Nachschreibarbeiten/entryEdit.html.twig #}
{% extends "IServNachschreibarbeitenBundle::base.html.twig" %}

{% block page_content %}

    <h2>{{ _('Nachschreiber_in bearbeiten') }}</h2>

    <div style="width: 60%;">
        {{ form(entryForm) }}
        <a class="btn btn-default" title="{{ _('Zurück') }}" href="{{ path('nachschreibarbeiten_index') }}">{{ icon('chevron-left') }}&nbsp;{{ _('Zurück') }}</a>
    </div>

{% endblock %}