{# src/IServ/NachschreibarbeitenBundle/Resources/views/Exercise/index.html.twig #}
{% extends "IServNachschreibarbeitenBundle::base.html.twig" %}

{% block page_content %}


    <h2>{{ _('Nachschreiber_in eintragen') }}</h2>

    <div style="width: 50%;">
        {{ form(entryForm) }}
    </div>

    <h2>{{ _('Nachschreiber_innen') }}</h2>

    <table class="table table-striped"> {# TODO: Date sorting#}
        <thead class="thead-inverse"><tr>
            <th>{{ _('Schüler_in') }}</th>
            <th>{{ _('Klasse') }}</th>
            <th>{{ _('Fach') }}</th>
            <th>{{ _('Zusatzmaterialien') }}</th>
            <th>{{ _('Dauer [Minuten]') }}</th>
            <th>{{ _('Lehrkraft') }}</th>
            <th></th>
        </tr></thead>
        <tbody>
        {% for row in entries %}
            <tr>
                <td>{{ row.getStudent() }}</td>
                <td>{{ row.getClass() }}</td>
                <td>{{ row.getSubject() }}</td>
                <td>{{ row.getAdditionalMaterial() }}</td>
                <td>{{ row.getDuration() }}</td>
                <td>{{ row.getTeacher() }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
