{# src/IServ/CrudBundle/Resources/views/Crud/show_text.html.twig #}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ _('Submissions') }}</h3>
    </div>
    <table class="table table-condensed" id="exerciseSubmissions">
        <thead>
        <tr>
            <th>{{ _('User') }}</th>
            <th>{{ _('Submission') }}</th>
            <th colspan="2">{{ _('Text') }}</th>
        </tr>
        </thead>
        <tbody>
        {% if item.submissions is not empty %}
            {% set current = '' %}
            {% for submission in item.submissionsSorted %}
                <tr>
                    {% if current != submission.user %}
                        <td>{{ submission.user|mailto(submission.user, item) }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td {% if submission.time > item.endDate %}class="text-danger"{% endif %}>{{ submission.time|ldatetime }}</td>
                    <td>
                        {% set splitText = submission.text|split(' ') %}
                        {{ splitText|slice(0, 10)|join(' ') }}
                        {% if splitText|slice(10) is not empty %}…{% endif %}
                    </td>
                    <td>
                        {% if splitText|slice(10) is not empty %}
                            <a class="btn btn-default submission" href="{{ path('exercise_showText', {'id': submission.id}) }}" data-id="{{ submission.id }}" title="{{ _('Show text') }}">
                                {{ icon('pro-paragraph') }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
                {% set current = submission.user %}
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4" class="text-center"><em>{{ _('There are currently no submissions') }}</em></td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    {% if item.submissions is not empty %}
        <div class="panel-footer panel-footer-actions {{ item.submissions is empty ? ' hidden' : '' }}">
            <a id="download" href="{{ path('exercise_text', {'id': item.id}) }}" class="btn btn-default">{{ icon('download') }}{{ _('Download texts') }}</a>
        </div>
    {% endif %}
</div>
