{# src/IServ/CrudBundle/Resources/views/Crud/show.html.twig #}
{% extends 'IServCrudBundle:Crud:show.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ __('Details for %s', item) }}</h1>

            {% block crud_form_actions %}
                <div class="form-actions">
                    {{ m.linkButton(admin.generateUrl('index'), _('Back to list'), 'th-list') }}
                    {% if admin.isAllowedToEdit(item, app.user) %}
                        {{ m.linkButton(admin.generateObjectUrl(item, 'edit'), _('Edit'), 'edit', 'btn-primary') }}
                        {{ m.linkButton(admin.generateObjectUrl(item, 'edit') ~ '#files', _('Files'), 'file', 'btn-primary') }}
                        {{ m.linkButton(path('exercise_manage_owner', {'id': item.id}), _('Change owner'), 'user') }}
                    {% endif %}
                    {% if admin.isAllowedToDelete(item, app.user) %}
                        {{ m.linkButton(admin.generateObjectUrl(item, 'delete'), _('Delete'), 'remove-circle', 'btn-default') }}
                    {% endif %}
                </div>
            {% endblock crud_form_actions %}
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">

                    <dl class="dl-horizontal">
                        {% for field in fields if not field.hideIfEmpty or not field.value(item) is null %}
                            {% if field.name != 'submissions' and field.name != 'attachments' %}
                                {% block crud_show_row %}
                                    <dt>{{ field.label }}</dt>
                                    <dd>{{ item|admin_show(field) }}</dd>
                                {% endblock crud_show_row %}
                            {% endif %}
                        {% endfor %}
                        <dt>{{ _('Files') }}</dt>
                        <dd>
                            {% if item.attachments is not empty %}
                                {% for attachment in item.attachments|isort('name') %}
                                    <a href="{{ path('exercise_file', {'id': attachment.file.id}) }}">
                                        {{- fileIcon(attachment.file) -}}
                                        {%- if attachment.description != '' -%}
                                            <span title="{{ attachment.description }}">{{ attachment.name }}</span>
                                        {%- else -%}
                                            {{ attachment.name }}
                                        {%- endif -%}
                                    </a> <span class="text-muted">({{ attachment.file.size|size }})</span><br/>
                                {% endfor %}
                            {% else %}
                                <span class="text-center"><em>{{ _('No files are attached yet!') }}</em></span>
                            {% endif %}
                        </dd>
                    </dl>

                    <div class="pull-right">
                        {{ m.linkButton(path('exercise_show', {'id': item.id}), _('Preview'), 'eye-open', 'btn-link') }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            {% include 'IServExerciseBundle:Crud:show_' ~ item.type ~ '.html.twig' %}

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ _('Users without submissions') }}</h3>
                </div>
                <table class="table table-condensed" id="noSubmissions">
                    <tbody>
                    {% for user in missingSubmissions %}
                        <tr>
                            <td> {{ user.username|mailto((user.firstname ~ ' ' ~ user.lastname)|trim, item) }} </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@IServExerciseBundle/Resources/public/js/*' filter='?uglifyjs2' output='js/compiled/exercise2.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
