{# src/IServ/ExerciseBundle/Resources/views/Default/show.html.twig #}
{% extends "IServExerciseBundle::base.html.twig" %}
{% block page_title %}{{ _('Exercises') }}{% endblock %}

{% block content %}
<div class="row">

<div class="col-md-12">
    {% if mode == 'attachment' %}
        <h3>{{ _('Delete attachments') }}</h3>
    {% else %}
        <h3>{{ _('Delete submissions') }}</h3>
    {% endif %}
    {{ form_start(confirmForm) }}
    <div class="panel panel-danger">
        <div class="panel-heading">
            {% if mode == 'attachment' %}
                {{ _('Are you sure you want to delete the following attachments?') }}
            {% else %}
                {{ _('Are you sure you want to delete the following submissions?') }}
            {% endif %}
        </div>
        <div class="panel-body">
            <div class="col-xs-12">
                {{ form_row(confirmForm.elements) }}
            </div>
        </div>
        <div class="panel-footer">
            {{ form_row(confirmForm.actions) }}
        </div>
    </div>
    {{ form_rest(confirmForm) }}
    </form>
    </div>
</div>
{% endblock %}
